.headerComponent {
  width: 100vw;
  height: 200px;
  background-color: var(--gray-700);

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;
}

.toTitle {
  color: var(--blue);
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.doTitle {
  color: var(--purpleDark);
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}
