.wrapper {
  width: 100vw;

  padding: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskContainer {
  width: 736px;
  height: 100vh;
  max-height: 411px;
  overflow: auto;
}
